<!DOCTTYPE html>
<html>
    {{> head }}
<body>
    <div class="Pos-r W-100" style="min-height:100%; page-break-after:none">
        {{> header}}
        <div class="bd main" style="min-height:60%">
        {{> body}}
        </div>
        {{> footer}}
    </div>
</body>
{{> script}}
</html>
