<h1>{{brand.brandName}} 管理頁面</h1>

<div>
    <div class="hd">品牌</div>
    <div class="bd">
        <ul>
            <li><a href="">管理品牌</a> - pending</li>
            <li><a href="">管理商品</a> - pending</li>
            <li><a href="">調整商店設計</a> - pending</li>
        </ul>
    </div>
</div>
<div>
    <div class="hd">訂單</div>
    <div class="bd">
        <ul>
            <li><a href="/{{brand.slug}}/manage/customer">管理客戶</a></li>
            <li><a href="/{{brand.slug}}/manage/order">管理訂單</a></li>
        </ul>
    </div>
</div>