<div class="W-100">
    <div class="Pos-r M-0a" style="max-width:1440px; height:300px; background:#000">
        <div class="Ta-c" style="padding: 110px 0 0 0">
            <div class="Pos-r Z-2">
                <h1 class="Fw-1 C-white-s M-0" style="font-size:40px">Beardude Engine</h1>
                <h2 class="Pt-3 C-white-s Fw-1 Fz-4" style="letter-spacing:1px;">建立您專屬的網路商店</h2>
                <a class="Pos-r Btn-orang Z-2 P-5 Fz-4" href="/signup" style="top:15px">申請帳號</a>
            </div>
            <div class="cover Pos-a W-100 H-100 T-0 L-0 Z-1">
                <div class="img Pos-r W-100 H-100 M-0a" style="background-image:url(/images/mainsite/cover.jpg); background-position: 50% 50%; background-size:cover;"></div>
            </div>
        </div>
    </div>
    <div class="M-0a Fw-1 Lh-8 Pt-10" style="width:90%; max-width:800px; font-size:16px">
        <p class="Ta-c">Beardude Engine 幫助您迅速建立質感獨到的網路商店，讓您第一時間推出熱騰騰的商品上架販售。內建電子商務必備的金流與物流工具，在這裏不用花大錢就可以擁有品牌的專屬網站。</p>
        <ul>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">客製化</h3>
                <p>Beardude Engine 提供完全的頁面客製化自由度，讓您打造符合品牌風格的網站門面。我們也提供額外的客製化服務，為您精製專為電腦、平板與手機優化的網站。</p>
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">月租費</h3>
                <p>單一商店月租費僅 ? 元，單件商品依付款方式收5~7%手續費。同時以最合理實惠的方式提供各種客製化的服務。</p>
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">購物車</h3>
                <p>購物車除了方便顧客使用，同時提供追蹤尚未結帳的購物車</p>
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">各種付款</h3>
                <p>信用卡, Paypal, 貨到付款, 便利商店, 銀行轉</p>
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">促銷工具</h3>
                <p>可以依需求設定各種促銷方案，發送商店專屬的促銷郵件</p>
                {{!--
                    coupon
                    買滿 x 元打 y 折
                    買滿 x 元折 y 元
                    買滿 x 件 免運費
                    限時折扣
                --}}
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">庫存管理</h3>
                <p>提供簡易的庫存管理</p>
            </li>
            <li>
                <h3 class="Fz-7 Fw-1 M-0">運費管理</h3>
                <p>可設定不同的運費規則，例如使用不同的郵寄服務與跨國寄送的運費計算</p>
            </li>
            {{!--
            <li>
                <h3 class="Fz-7 Fw-1 M-0">獨立的網址</h3>
                <p>可申請您專屬的網址</p>
            </li>
            --}}
            <li>
                <h3 class="Fz-7 Fw-1 M-0">Facebook整合</h3>
                <p>粉絲團/帳號自動上架</p>
            </li>
        </ul>
    </div>
    <div class="footer">
        <ul>
            
        </ul>
    </div>
</div>