<style>
@media only screen and (max-device-width : 480px) { /* cellphone */
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .cover {
        height:180px;
    }
    .cover .txt {
        padding: 30px 0 0 0;
    }
    .cover .btn {
        top: 5px;
    }
    .feature {
        line-height: 30px;
    }
    .img {
        background-image:url(/images/mainsite/cover-1-s.jpg);
    }
}
@media only screen and (min-device-width : 480px) { /* desktop and tablet */
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    .cover {
        height:300px;
    }
    .cover .txt {
        padding: 110px 0 0 0;
    }
    .cover .btn {
        top: 15px;
    }
    .img {
        background-image:url(/images/mainsite/cover-1-l.jpg);
    }
}
</style>
<div class="Pos-r W-100" style="min-height:100%; page-break-after:none">
    <div class="bd main" style="min-height:60%">
        <div class="W-100">
            <div class="cover Pos-r M-0a" style="max-width:1440px; background:#000">
                <div class="txt Ta-c">
                    <div class="Pos-r Z-2">
                        <h1 class="Fw-1 C-white-s M-0">Beardude Engine</h1>
                        <h2 class="Pt-3 C-white-s Fw-1 Fz-4" style="letter-spacing:1px;">建立您專屬的網路商店</h2>
                        <a class="Pos-r btn Btn-orang Z-2 P-5 Fz-4" href="/signup">申請帳號</a>
                    </div>
                    <div class=" Pos-a W-100 H-100 T-0 L-0 Z-1">
                        <div class="img Pos-r W-100 H-100 M-0a" style="background-position: 50% 50%; background-size:cover;"></div>
                    </div>
                </div>
            </div>
            <div class="feature M-0a Fw-1 Lh-8 Pt-10" style="width:90%; max-width:800px; font-size:16px">
                <p class="Ta-c">Beardude Engine 幫助您迅速建立質感獨到的網路商店，讓您第一時間推出熱騰騰的商品上架販售。內建電子商務必備的金流與物流工具，在這裏不用花大錢就可以擁有品牌的專屬網站。</p>
                <ul>
                    {{#features}}
                    <li>
                        <h3 class="Fw-1 M-0">{{title}}</h3>
                        <p>{{desc}}</p>
                    </li>            
                    {{/features}}
                </ul>
            </div>
            <div class="footer">
                <ul>
            
                </ul>
            </div>
        </div>
    </div>
</div>