<div class="form-wrap mod-signupForm">
    <form class="form" action="/signup" method="POST">
        <div class="bd">
            {{#errors.general}}<div class="err-msg">{{.}}</div>{{/errors.general}}
            <ul class="form-ul">
                <li class="form-li {{#errors.email}}err{{/errors.email}}">
                    <label class="" for="email">Email</label>
                    <input type="text" name="email" class="email" placeholder="Email" value="{{email}}" />
                    {{#errors.email}}
                        <div class="err-msg">{{.}}</div>
                    {{/errors.email}}
                </li>
                <li class="form-li {{#errors.password}}err{{/errors.password}}">
                    <label class="" for="password">密碼</label>
                    <input type="password" name="password" class="password" placeholder="密碼" />
                    {{#errors.password}}
                        <div class="err-msg">{{.}}</div>
                    {{/errors.password}}
                </li>
            </ul>
        </div>
        <div class="ft">
            <input class="Pos-r btn Btn-orang Z-2 P-5 Fz-4" type="submit" value="註冊" />
        </div>
    </form>
</div>
