/* Font */
html {
    font-family: Helvetica;
}
.header {
    color: #777;
}
.header .anim {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.header .anim:hover {
    color: #77c1f0;
}
.C-1 {
    color: #ccc;
}
.C-2 {
    color: #000;
}
.C-3 {
    color: #fff;
}
.C-4 {
    color: #555;
}
.C-5 {
    color: #777;
}
.C-white-s {
    color: #fff;
    text-shadow: #555 0 1px 3px;
}
.Bgc-0 {
    background: none;
}
.Bgc-1 {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 3px #ccc;
}
.Bgc-2 {
    background: #ccc;
}
.Bgc-3 {
    background: #fff;
}
.Bgc-4 {
    background: #eee;
}
.Bgc-5 {
    background: rgba(0, 0, 0, 0.85);
}
.Bgc-6 {
    background: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0 1px 2px #eee;
    -moz-box-shadow: 0 1px 2px #eee;
    box-shadow: 0 1px 2px #eee;
}
.Bgc-7 {
    background: #77c1f0;
}
.Bdr-0 {
    border: 0;
}
.Bdr-1 {
    border: 1px solid #eee;
}
.Bdr-2 {
    border: 1px solid #ccc;
}
.Zebra-1 tr:nth-child(even) {
    background:#f3f8ff;
}
.Zebra-2 tr:nth-child(even) {
    background:#fef2f9;
}
.Zebra-3 tr:nth-child(even) {
    background:#f1f1f1;
}
.disabled {
    opacity: 0.3
}
@-webkit-keyframes webkit-pop {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.anim-pop {
    -webkit-animation: webkit-pop 0.2s;
    animation-duration: 0.2s;
    animation-name: pop;
}
.close-btn:before, .close-btn:after {
    display: block;
    content: " ";
    width: 2px;
    height: 25px;
    background: #333;
    position: absolute;
    top: 2px;
    right: 14px;
}
.close-btn:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-btn:after {
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.Btn-orang {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-indent: -2px;
    border-radius: 3px;
    border: 1px solid #d87423;
    background: #ff8828; /* Old browsers */
    background: -moz-linear-gradient(top, #ff8828 0%, #ff7200 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ff8828 0%,#ff7200 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ff8828 0%,#ff7200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff8828 0%,#ff7200 100%); /* W3C */
}