<div class="ft Pos-r D-t Ta-c Fz-2 C-1 W-100" style="background:#565656;height:30%;box-shadow:inset 0 1px 3px #000;font-family:Time">
    <div class="D-tc Va-m">
        <span class="Mr-10">{{time.year}} &copy; Beardude.com</span>
        <span>Contact: <a class="C-1" href="mailto:info@beardude.com">info@beardude.com</a></span>        
    </div>
</div>