<!DOCTTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
            <link rel="shortcut icon" href="/images{{#brand}}/{{slug}}{{/brand}}/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/images{{#brand}}/{{slug}}{{/brand}}/favicon.ico" type="image/x-icon">
        {{> css }}
        {{#if sourceDecoration}}
            {{> sourceDecoration }}
        {{/if}}
    </head>
    <body>
        <div class="Pos-r W-100" style="min-height:100%; page-break-after:none">
            {{> body}}
        </div>
    </body>
    {{> script}}
</html>
