.li-input .error {
    display: none;
    color: red;
}
.showErr input {
    border: 1px solid red;
}
.showErr .error {
    display: block;
}
.toUpdate .numToUpdate {
    color: red;
}
body .add-select {
    background: #eee url('/images/beardude/icons/drop.png') right 8px center no-repeat;
}
.ul-images li {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.ul-images-thumbs .selected {
    border: 1px solid #77c1f0;
}

@media (max-width: 600px) {
    .specs {
        width: 100%;
    }
    .spec {
        width: 100%;
    }
    .add-button {
        font-size: 13px;
    }
}